{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>All Users</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    {% load static %}
    <link href="{% static 'general/css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% if response %}
        <h1>{{ response }}</h1>
    {% endif %}

    <div class="col-md-10 col-md-offset-1">
        {# Search #}
        <div class="col-md-5">
            <div class="form-group label-floating">
                <label class="control-label">Filter by name</label>
                <input id="filter-users" class="form-control">
            </div>
        </div>

        {# List of users #}
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title card-header-title">All Users</h4>
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead class="text-rose">
                        <tr>
                            <th class="text-center"></th>
                            <th>User</th>
                            <th class="text-center">Number of Followers</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for u, count, already_following in users %}
                            {% if u != request.user %}
                                <tr id="{{ u.first_name|lower }} {{ u.last_name|lower }}">
                                    <td class="text-center">
                                        <div class="img-container">
                                            <a href="/profile/{{ u.id }}/">
                                                {% if u.has_pic %}
                                                    <img src="https://s3.amazonaws.com/communityrate/{{ u.id }}">
                                                {% else %}
                                                    <img src="{% static '/material-dash/assets/img/placeholder.jpg' %}">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </td>
                                    <td class="td-name">
                                        <a class="text-primary"
                                           href="/profile/{{ u.id }}/">{{ u.first_name }} {{ u.last_name }}</a>
                                        <br>
                                        <small>@{{ u.username }}</small>
                                    </td>
                                    <td>
                                        <h4 class="text-center" id="fcount-{{ u.id }}">{{ count }}</h4>
                                    </td>
                                    <td class="td-actions text-center" id="td-actions-{{ u.username }}">
                                        <button type="button" rel="tooltip" title="Visit profile"
                                                class="btn btn-info btn-simple"
                                                onclick="window.location.href='/profile/{{ u.id }}/'">
                                            <i class="material-icons">launch</i>
                                        </button>
                                        {% if already_following %}
                                            <button type="button" id="fbtn-{{ u.id }}" rel="tooltip"
                                                    title="Unfollow" class="btn btn-danger btn-simple ufbtn">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        {% else %}
                                            <button type="button" id="fbtn-{{ u.id }}" rel="tooltip"
                                                    title="Follow" class="btn btn-primary btn-simple fbtn">
                                                <i class="material-icons">person_add</i>
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#filter-users").keyup(function () {
                var query = $("#filter-users").val().toLowerCase();
                if (query.length > 0) {
                    $('tbody tr').not('[id*="' + query + '"]').hide();
                    $('tbody tr[id*="' + query + '"]').show();
                }
                else {
                    $('tbody tr').show()
                }
            });

            {% for u, count, already_following in users %}
                $("#fbtn-{{ u.id }}").click(function () {
                    {% if already_following %}
                        functions.unfollow('{{ u.username }}', '{{ u.first_name }} {{ u.last_name }}', onUnfollow,
                            '{{ u.id }}');
                    {% else %}
                        functions.follow('{{ u.username }}', '{{ u.first_name }} {{ u.last_name }}', onFollow,
                            '{{ u.id }}');
                    {% endif %}
                    $(".tooltip").hide();
                });
            {% endfor %}
        });

        function onFollow(username, name, user_id) {
            var btn = $("#fbtn-" + user_id);
            btn.attr('title', 'Unfollow');
            btn.attr('data-original-title', 'Unfollow');
            btn.removeClass('btn-primary');
            btn.addClass('btn-danger');
            btn.html('<i class="material-icons">clear</i>');
            btn.unbind('click');
            btn.click(function () {
                functions.unfollow(username, name, onUnfollow, user_id);
                $(".tooltip").hide();
            });
            var fcount = $("#fcount-" + user_id);
            fcount.html(parseInt(fcount.html()) + 1);
        }

        function onUnfollow(username, name, user_id) {
            var btn = $("#fbtn-" + user_id);
            btn.attr('title', 'Follow');
            btn.attr('data-original-title', 'Follow');
            btn.removeClass('btn-danger');
            btn.addClass('btn-primary');
            btn.html('<i class="material-icons">person_add</i>');
            btn.unbind('click');
            btn.click(function () {
                functions.follow(username, name, onFollow, user_id);
                $(".tooltip").hide();
            });
            var fcount = $("#fcount-" + user_id);
            fcount.html(parseInt(fcount.html()) - 1);
        }
    </script>
{% endblock %}