{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>{{ user.first_name }}'s Profile</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    {% load static %}
    <link href="{% static 'general/css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {# Right column #}
    <div class="col-md-4 col-md-push-8">
        {# Profile summary #}
        <div class="card card-profile">
            <div class="card-avatar">
                <div class="photo">
                    {% if user.has_pic %}
                        <img src="https://s3.amazonaws.com/communityrate/{{ user.username }}" id="profPic">
                    {% else %}
                        <img src="{% static 'material-dash/assets/img/placeholder.jpg' %}" id="profPic">
                    {% endif %}
                </div>
            </div>

            <div class="content">
                <h6 class="category text-gray">@{{ user.username }}</h6>
                <h4 class="card-title">{{ user.get_full_name }}</h4>
                <div class="card-content">
                    {% if user.fav_quote != None and user.fav_quote != '' %}
                        <p class="category">Favorite Movie Quote</p>
                        <p class="content"><i>"{{ user.fav_quote }}"</i></p>
                    {% endif %}
                    {% if user.about_me != None and user.about_me != '' %}
                        <p class="category">About Me</p>
                        <p class="content">{{ user.about_me }}</p>
                    {% endif %}
                    <hr>
                    {% if owner %}
                        <div class="row">
                            <button onclick="showEditProfile()" class="btn btn-default btn-round">Edit Profile
                            </button>
                            <button class="btn btn-info btn-round" onclick="showUpdatePic()">Update
                                Picture
                            </button>
                        </div>
                    {% else %}
                        <div id="follow-unfollow">
                            {% if not already_following %}
                                <button class="btn btn-primary" id="followBtn" onclick="functions.follow('{{ user.username }}', '{{ user.first_name }} {{ user.last_name }}', toggleFollowBtn)">Follow</button>
                            {% else %}
                                <button onclick="functions.unfollow('{{ user.username }}', '{{ user.first_name }} {{ user.last_name }}', toggleFollowBtn)" id="unfollowBtn" class="btn btn-primary">Unfollow</button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# USER STATS #}
        {# Followers/Following #}
        {% if owner %}<a href="/relationships/">{% endif %}
            <div class="col-sm-10 col-sm-offset-1">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">people</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Followers</p>
                        <h3 class="title">{{ num_followers }}</h3>
                        <p class="category">Following</p>
                        <h3 class="title">{{ num_following }}</h3>
                    </div>
                </div>
            </div>
        {% if owner %}</a>{% endif %}
    </div>

    {#  LEFT COLUMN  #}
    <div class="col-md-8 col-md-pull-4">
        {# Number of Reviews #}
        <div class="col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">theaters</i>
                </div>
                <div class="card-content">
                    <p class="category">Movie Reviews</p>
                    <h3 class="title">{{ num_reviews }}</h3>
                </div>
            </div>
        </div>

        {# Average Rating #}
        <div class="col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">thumbs_up_down</i>
                </div>
                <div class="card-content">
                    <p class="category">Average Rating</p>
                    <h3 class="title">{{ av_rating }}</h3>
                </div>
            </div>
        </div>

        {# Reviews #}
        <div class="card">
            <div class="card-header card-header-tabs" data-background-color="purple">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Movie Reviews</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#favorites" data-toggle="tab">
                                    <i class="material-icons">whatshot</i>
                                    Favorites
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#recent" data-toggle="tab">
                                    <i class="material-icons">access_time</i>
                                    Recent
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="favorites">
                        <div class="scrollable-table">
                            <table class="table table-hover review-table table-responsive">
                                <thead class="text-primary">
                                <th>Movie</th>
                                <th>Rating</th>
                                <th>Reaction</th>
                                </thead>
                                <tbody>
                                {% for m in favorites %}
                                    <tr class="pointer" onclick=window.location.href="/movie/{{ m.movie.movie_id }}/">
                                        <td>
                                            <h4><img src="http://image.tmdb.org/t/p/w92{{ m.movie.poster_path }}"
                                                     alt=''> {{ m.movie.title }}</h4>
                                        </td>
                                        <td class="text-center">
                                            <h4>{{ m.rating }}</h4>
                                        </td>
                                        <td class="text-center">
                                            <h4><i class="{{ m.reaction }}"></i></h4>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="recent">
                        <div class="scrollable-table">
                            <table class="table table-hover review-table">
                                <thead class="text-primary">
                                <th>Movie</th>
                                <th>Rating</th>
                                <th>Reaction</th>
                                </thead>
                                <tbody>
                                {% for m in recents %}
                                    <tr class="pointer" onclick=window.location.href="/movie/{{ m.movie.id }}/">
                                        <td>
                                            <h4><img src="http://image.tmdb.org/t/p/w92{{ m.movie.poster_path }}"
                                                     alt=''> {{ m.movie.title }}</h4>
                                        </td>
                                        <td class="text-center">
                                            <h4>{{ m.rating }}</h4>
                                        </td>
                                        <td class="text-center">
                                            <h4><i class="{{ m.reaction }}"></i></h4>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Lists #}
        <div class="card">
            <div class="card-header card-header-tabs" data-background-color="green">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Movie Lists</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#public" data-toggle="tab">
                                    <i class="material-icons">public</i>
                                    Public Lists
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            {% if owner %}
                                <li class="">
                                    <a href="#private" data-toggle="tab">
                                        <i class="material-icons">lock_outline</i>
                                        Private Lists
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="tab-content">
                    <div class="col-sm-12">
                        <a class="btn btn-primary pull-right" href="/new-list/" id="btn-new-list"><i
                                class="material-icons">add_circle_outline</i> New List</a>
                    </div>
                    <div class="tab-pane active" id="public">
                        <table class="table table-hover review-table">
                            <thead class="text-success">
                            <th>List Name</th>
                            <th>Movies</th>
                            <th>Likes</th>
                            </thead>
                            <tbody>
                            {% for list, num, likes in lists %}
                                {% if list.public %}
                                    <tr class="pointer" onclick="window.location.href='/list/{{ list.id }}/'">
                                        <td>{{ list.name }}</td>
                                        <td>{{ num }}</td>
                                        <td>{{ likes }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if owner %}
                        <div class="tab-pane" id="private">
                            <table class="table table-hover review-table">
                                <thead class="text-success">
                                <th>List Name</th>
                                <th>Movies</th>
                                </thead>
                                <tbody>
                                {% for list, num, likes in lists %}
                                    {% if not list.public %}
                                        <tr class="pointer" onclick="window.location.href='/list/{{ list.id }}/'">
                                            <td>{{ list.name }}</td>
                                            <td>{{ num }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfile"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/profile/" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h4 class="modal-title">Edit Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Username</label>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email address</label>
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group label-floating">
                                    <label class="control-label">Fist Name</label>
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group label-floating">
                                    <label class="control-label">Last Name</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Favorite Movie Quote</label>
                                        {{ form.fav_quote }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group label-floating">
                                        <label class="control-label">About Me</label>
                                        {{ form.about_me }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  End Modal -->

    <!-- Edit Picture Modal -->
    <div class="modal fade" id="updatePicModal" tabindex="-1" role="dialog" aria-labelledby="updatePic"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Update your profile picture</h4>
                </div>
                <div class="modal-body">
                    <div class="prof-pic-container">
                        <div class="prof-pic photo">
                            <img src="{% if request.user.has_pic %}https://s3.amazonaws.com/communityrate/{{ request.user.username }}
                                      {% else %}{% static '/material-dash/assets/img/placeholder.jpg' %}{% endif %}"
                                 class="prof-pic-src"
                                 id="profPicPreview" title=""/>
                            <input type="file" id="wizard-picture">
                        </div>
                        <h6>Choose Picture</h6>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" onclick="updatePic()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'general/js/functions.js' %}"></script>
    <script src="{% static 'general/js/profile.js' %}"></script>
    <script>
        function toggleFollowBtn() {
            var div = $("#follow-unfollow");
            if (div.children("button").html().trim().substring(0, 6) == "Follow") {
                div.html('<button onclick="functions.unfollow(\'{{ user.username }}\', \'{{ user.first_name }} ' +
                    '{{ user.last_name }}\', toggleFollowBtn)" id="unfollowBtn" class="btn btn-primary">Unfollow</button>');
            }
            else {
                div.html('<button class="btn btn-primary" id="followBtn" onclick="functions.follow(\'{{ user.username }}\',' +
                    ' \'{{ user.first_name }} {{ user.last_name }}\', toggleFollowBtn)">Follow</button>');
            }
        }
    </script>
{% endblock %}