<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    {% load static %}

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'material-dash/assets/img/apple-icon.png' %}"/>
    <link rel="icon" type="image/png" href="{% static 'general/img/favicon4.ico' %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!--  Material Dashboard CSS    -->
    <link href="{% static 'material-dash/assets/css/material-dashboard.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styling -->
    <link href="{% static 'general/css/style.css' %}" rel="stylesheet">

    <!-- Google Ads -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8624179453654757",
            enable_page_level_ads: true
        });
    </script>

    {% block header %}
    {% endblock %}
</head>

<body>

<div class="wrapper">

    {# Side Nav Bar #}
    <div class="sidebar" data-active-color="purple" data-background-color="black"
         data-image="{% static 'material-dash/assets/img/sidebar-1.jpg' %}">
        <div class="logo">
            <a href="/" class="simple-text">
                CommunityRate
            </a>
        </div>

        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    {% if request.user.has_pic %}
                        <img src="https://s3.amazonaws.com/communityrate/{{ request.user.username }}"
                             id="sidebarProfPic">
                    {% else %}
                        <img src="{% static 'material-dash/assets/img/placeholder.jpg' %}">
                    {% endif %}
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        {{ request.user.get_full_name }}
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="/profile/">My Profile</a>
                            </li>
                            <li>
                                <a href="/settings/">Settings</a>
                            </li>
                            <li>
                                <a href="/logout/">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li {% if page == 'activity_feed' %}class="active"{% endif %}>
                    <a href="/">
                        <i class="material-icons">wifi_tethering</i>
                        <p>Activity Feed</p>
                    </a>
                </li>
                <li {% if page == 'profile' %}class="active"{% endif %}>
                    <a href="/profile/">
                        <i class="material-icons">account_circle</i>
                        <p>Profile</p>
                    </a>
                </li>
                {#                    <li {% if page == 'discover' %}class="active"{% endif %}>#}
                {#                        <a href="/discover/">#}
                {#                            <i class="material-icons">explore</i>#}
                {#                            <p>Discover</p>#}
                {#                        </a>#}
                {#                    </li>#}
                <li {% if page == 'users' or page == 'relationships' %}class="active"{% endif %}>
                    <a data-toggle="collapse" href="#users">
                        <i class="material-icons">people</i>
                        <p>Users
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="users">
                        <ul class="nav">
                            <li {% if page == 'users' %}class="active"{% endif %}>
                                <a href="/users/">All Users</a>
                            </li>
                            <li {% if page == 'relationships' %}class="active"{% endif %}>
                                <a href="/relationships/">My Relationships</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li {% if page == 'lists' %}class="active"{% endif %}>
                    <a href="/lists/">
                        <i class="material-icons">list</i>
                        <p>Lists</p>
                    </a>
                </li>
                <li {% if page == 'movies' %}class="active"{% endif %}>
                    <a href="/movies/">
                        <i class="material-icons">movie</i>
                        <p>Movie Database</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {# Top Nav Bar #}
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        {% if page == 'activity_feed' %}Activity Feed
                        {% elif page == 'profile' %}Profile
                        {% elif page == 'discover' %}Discover
                        {% elif page == 'users' or page == 'relationships' %}Users
                        {% elif page == 'movies' %}Movies
                        {% endif %}
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a onclick="functions.markNotificationsRead()" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <i class="material-icons">notifications</i>
                                <span class="notification" id="numRead">{{ num_unread }}</span>
                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu" id="notification-dropdown">
                                {% for note in notifications %}
                                    {% if note.is_read %}
                                        <li><a>{{ note.message }}</a></li>
                                    {% else %}
                                        <li class="unread-notification"><a>{{ note.message }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">person</i>
                                <p class="hidden-lg hidden-md">Profile</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/">Profile</a></li>
                                <li><a href="/settings/">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout/">Log out</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search" action="/movies/" method="GET">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" name="search" placeholder="Search movies">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="pull-right">
                    Created by Ryan Rosenfeld<br>
                </p>
                {#                    <a class="btn btn-round btn-just-icon btn-linkedin btn-xs pull-right" href="https://www.linkedin.com/in/ryan-rosenfeld-a4380a10b/" style="">#}
                {#                        <i class="fa fa-linkedin"></i>#}
                {#                    </a>#}
            </div>
        </footer>
    </div>
</div>

</body>

<!--   Core JS Files   -->
<script src="{% static 'material-dash/assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/material.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>

<!-- Forms Validations Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.validate.min.js' %}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{% static 'material-dash/assets/js/moment.min.js' %}"></script>
<!--  Charts Plugin -->
<script src="{% static 'material-dash/assets/js/chartist.min.js' %}"></script>
<!--  Plugin for the Wizard -->
<script src="{% static 'material-dash/assets/js/jquery.bootstrap-wizard.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'material-dash/assets/js/bootstrap-notify.js' %}"></script>
<!-- DateTimePicker Plugin -->
<script src="{% static 'material-dash/assets/js/bootstrap-datetimepicker.js' %}"></script>
<!-- Vector Map plugin -->
<script src="{% static 'material-dash/assets/js/jquery-jvectormap.js' %}"></script>
<!-- Sliders Plugin -->
<script src="{% static 'material-dash/assets/js/nouislider.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Select Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.select-bootstrap.js' %}"></script>
<!--  DataTables.net Plugin    -->
<script src="{% static 'material-dash/assets/js/jquery.datatables.js' %}"></script>
<!-- Sweet Alert 2 plugin -->
<script src="{% static 'material-dash/assets/js/sweetalert2.js' %}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'material-dash/assets/js/jasny-bootstrap.min.js' %}"></script>
<!--  Full Calendar Plugin    -->
<script src="{% static 'material-dash/assets/js/fullcalendar.min.js' %}"></script>
<!-- TagsInput Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.tagsinput.js' %}"></script>

<!-- Material Dashboard javascript methods -->
<script src="{% static 'material-dash/assets/js/material-dashboard.js' %}"></script>

<!-- General Functions -->
<script src="{% static 'general/js/functions.js' %}"></script>

{% block scripts %}{% endblock %}

</html>
