.rating-col {
    width: 20%;
}

.react-col {
    width: 20%;
}

.thoughts-col {
    width: 60%;
}

.comments {
    border: solid lightgray 1px;
    margin-bottom: 10px;
    display: none;
}

.table-comments {
    border: 2px dashed #00bcd4;
}