.rating-col {
    width: 20%;
}

.react-col {
    width: 20%;
}

.thoughts-col {
    width: 60%;
}

.comments {
    border: solid lightgray 1px;
    margin-bottom: 10px;
    display: none;
}

.table-comments {
    border: 2px dashed #00bcd4;
}

.card-review a {
    color: #e91e63;
}

#card-welcome .tab-pane a {
    color: #9c27b0;
    text-decoration: underline;
}