.movie-list-table img {
    height: 65px;
    width: 50px;
}

#edit-list-group {
    margin-top: 15px;
}

#edit-list-name {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

#btn-edit-list-name {
    margin-left: 0px;
}

#btn-visit-movie-pg {
    margin-right: -12px;
}

#btn-rmv {
    margin-left: -12px;
}

#btn-public_private {
    margin-left: 40px;
}

#add-movies {
    margin-left: 35px;
}

#edit-list-name-group {
    display: none;
}

.edit-display,
.edit-display-table {
    display: none;
}

.btn-edit-options {
    margin-right: 5px;
    margin-left: 5px;
}

@media (max-width: 978px) {
    .btn-edit-options {
        margin-top: 100px;
    }

    #btn-public_private {
        margin-left: 0;
    }
}

#delete-btn {
    margin-left: 5px;
}
