.movie-list-table img {
    height: 65px;
    width: 50px;
}

#edit-list-group {
    margin-top: 15px;
}

#edit-list-name {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

#btn-edit-list-name {
    margin-left: 0px;
}

#btn-visit-movie-pg {
    margin-right: -12px;
}

#btn-rmv {
    margin-left: -12px;
}

#btn-public_private {
    font-size: large;
    padding: 0;
}

#add-movies {
    /*margin-left: 35px;*/
}

#edit-list-name-group {
    display: none;
}

.edit-display,
.edit-display-table {
    display: none;
}

.btn-edit-options {
    margin-right: 5px;
    margin-left: 5px;
}

#delete-btn {
    margin-left: 5px;
}

#edit-list-name {
    font-size: large;
    color: white;
    font-weight: bold;
    border: none;
}

#add-editor {
    width: 60%;
}

.permission-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#add-editor-list td strong {
    margin-right: 5px;
    font-size: 16px;
}

.table-editors {
    border: 1px solid #ddd;
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}
