.circleBase {
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.circle1 {
    width: 90px;
    height: 90px;
    background: #FFFFFF;
    border: 10px solid darkblue;
}

.circle1 p {
    margin-bottom: 5px;
    font-size: 50px;
}

.rating-label {
    text-align: center;
    margin-left: 12px;
}

#reaction {
    font-size: 60px;
    padding-right: 20px;
    margin-left: 15px;
    margin-top: 4px;
}

#updateButton {
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
}

#header-img {
    height: 160px;
    margin-top: 15px;
}

#header-rating {
    margin-left: 12px;
}

.header-div {
    display: table-cell;
    text-align: center;
}

#thoughts-div {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    margin-bottom: 5px;
}

#emoji-selection {
    font-size: 40px;
}

#emoji-selection i:hover {
    border: solid #18BC9C 3px;
    border-radius: 5px;
}

#movie-title {
    margin-left: 20px;
}

#MyRating {
    margin-left: 15px;
}

.reaction-large {
    margin-top: 20px;
    font-size: 30px;
}

#imdb-link {
    text-decoration: underline;
    color: inherit;
}

#imdb-link:hover {
    color: #9c27b0;
}

#imdb-link i {
    font-size: 15px;
}