.card-header-title {
    color: white;
    font-weight: bold;
}

.card .card-image-custom {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}

.card .card-image-custom img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image-circle {
    height: 110px;
    width: 110px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -13px;
    vertical-align: top;
}

.card .card-image-circle img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.card .card-image-custom .card-title {
    display: inline-block;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card-plain .card-image-custom {
    margin: 0;
    border-radius: 3px;
}

.card-plain .card-image-custom img {
    border-radius: 3px;
}

.table-shopping .img-container {
    width: 55px;
}

/* Styling for profile picture selector */

.prof-pic-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.prof-pic {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.prof-pic:hover {
    border-color: #2ca8ff;
}

.prof-pic input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.prof-pic-src {
    width: 100%;
}

.unread-notification {
    background-color: #e5dfde;
}

#notification-dropdown {
    max-height: 400px;
    overflow: auto;
}

a:hover {
    cursor: pointer;
}

@media (max-width: 978px) {
    .card-login {
        margin-top: 50px;
    }
}

.el-footer {
    margin-left: -15px;
    display: inline;
}

.card-avatar .photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.photo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
}

.photo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Class to make cursor style pointer (changes mouse to hand) */
.pointer:hover {
    cursor: pointer;
}

#help-dropdown {
    color: #ff9800;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

#icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.table-resize {
    width: 100%;
    margin: 0 auto;
}

#notifications-mobile i {
    color: #555555;
}

.right-nav .dropdown {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-top: -2px;
}

.right-nav .dropdown-menu a,
#help-mobile i,
#notifications-mobile a {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#notifications-mobile ul {
    width: 250px;
}

#notifications-mobile li a {
    display: inline-block;
    width: 250px;
    white-space: normal;
}

#notifications-mobile li {
    list-style: none;
    float: left;
    position: relative;
}

#notifications-mobile ul li {
    clear: both;
}