{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>{{ movie.title }}</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="{% static 'general/css/movie.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {# Left column #}
    <div class="col-md-5">
        {# Movie info #}
        <div class="card card-stats">
            <div class="card-image">
                <img src="http://image.tmdb.org/t/p/w92{{ movie.poster_path }}" alt="{% static 'general/img/no_poster.jpg' %}" style="height: 130px; width: 100px;">
            </div>
            <div class="card-content">
                <h3 class="card-title">{{ movie.title }}</h3>
                <p class="card-description">
                    Genre(s): {% for g in movie.genres %}{{ g.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </p>
                <p class="card-description">Release year: {{ movie.release_date|slice:"0:4" }}</p>
                <p class="card-description"><i>{{ movie.overview }}</i></p>
            </div>
        </div>
    </div>

    {# Right column #}
    <div class="col-md-7">
        {# My Review #}
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">My Review</h4>
            </div>
            <div class="card-content">
                <div class="col-md-3 col-sm-6 text-center">
                    <p class="category">Rating</p>
                    <h2 class="title">{{ review.rating }}</h2>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <p class="category">Reaction</p>
                    <p class="title"><i class="{{ review.reaction }}" id="reaction" style="font-size: 30px"></i></p>
                </div>
                <div class="col-md-6 text-center">
                    <p class="category">Thoughts</p><br>
                    <p class="blockquote-reverse"><i>{{ review.thoughts }}</i></p>
                </div>
                <div class="col-md-12">
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-info" onclick="showForm()">Update Review</button>
                    </div>
                </div>
            </div>
        </div>

        {# Update Review (defaults to hidden) #}
        <div class="card" id="update-form" style="display: none">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Update Review</h4>
            </div>
            <div class="card-content">
                <div class="col-md-12">
                    <form action="/movie/{{ movie.id }}/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="rating-field">Rating</label>
                            {{ form.rating }}
                        </div>
                        <div class="form-group">
                            <label>Reaction</label><br>
                            <div style="display:none">{{ form.reaction }}</div>
                            <div id="emoji-selection">
                                <div class="row">
                                    <i class="em em-grinning" onclick="setReaction('grinning')"></i>
                                    <i class="em em-joy" onclick="setReaction('joy')"></i>
                                    <i class="em em-blush" onclick="setReaction('blush')"></i>
                                    <i class="em em-heart_eyes" onclick="setReaction('heart_eyes')"></i>
                                    <i class="em em-neutral_face" onclick="setReaction('neutral_face')"></i>
                                </div>
                                <div class="row">
                                    <i class="em em-confused" onclick="setReaction('confused')"></i>
                                    <i class="em em-unamused" onclick="setReaction('unamused')"></i>
                                    <i class="em em-disappointed" onclick="setReaction('disappointed')"></i>
                                    <i class="em em-angry" onclick="setReaction('angry')"></i>
                                    <i class="em em-anguished" onclick="setReaction('anguished')"></i>
                                </div>
                                <div class="row">
                                    <i class="em em-sob" onclick="setReaction('sob')"></i>
                                    <i class="em em-sleeping" onclick="setReaction('sleeping')"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Thoughts</label>
                            {{ form.thoughts }}
                        </div>
                        <button id="cancel-btn" type="button" onclick="hideForm()" class="btn btn-danger">Cancel</button>
                        <input type="submit" class="btn btn-info" value="Update!" />
                    </form>
                </div>
            </div>
        </div>

        {# Friends' Reviews #}
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Friend Reviews</h4>
            </div>
            <div class="card-content">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="category">Average Rating</p>
                    <h2 class="title">{{ review.rating }}</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="category">Most Common Reaction</p>
                    <p class="title"><i class="{{ review.reaction }}" id="reaction" style="font-size: 30px"></i></p>
                </div>
                <div class="col-md-12">
                    <table class="table" id="friend-reviews">
                        <thead class="text-danger">
                            <th>Friend</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">Reaction</th>
                            <th>Thoughts</th>
                        </thead>
                        <tbody>
                            <td>Sean</td>
                            <td class="text-center">8</td>
                            <td class="text-center"></td>
                            <td>Pretty sweet movie imo</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'general/js/movie-page.js' %}"></script>
{% endblock %}