{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>Movie Database</title>
    <link href="{% static 'general/css/movie-db.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-md-12">
        {# Search #}
        <div class="col-md-5">
            <div class="form-group label-floating">
                <label class="control-label">Filter by movie title</label>
                <input id="filter-movies" class="form-control">
            </div>
        </div>

        {# List of movies #}
        <div class="card card-plain">
            <div class="card-header" data-background-color="purple">
                <h4 class="title card-header-title">List of Movies</h4>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover review-table">
                    <thead class="text-primary">
                        <th class="movie-col">Movie</th>
                        <th class="text-center rating-col">Average Rating</th>
                        <th class="text-center release-col">Release Year</th>
                    </thead>
                    <tbody id="movie-table-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'general/js/movie-db.js'%}"></script>
    {% if query != None %}
        <script>
            var query = "{{ query }}";
            filterMovies(query);
        </script>
    {% endif %}
{% endblock %}