{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>{{ movie.title }}</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="{% static 'general/css/movie.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {# Left column #}
    <div class="col-md-5">
        {# Movie info #}
        <div class="card card-stats">
            <div class="card-image">
                <img src="http://image.tmdb.org/t/p/w92{{ movie.poster_path }}" alt="{% static 'general/img/no_poster.jpg' %}" style="height: 130px; width: 100px;">
            </div>
            <div class="card-content">
                <h3 class="card-title">{{ movie.title }}</h3>
                <p class="card-description">
                    Genre(s): {% for g in movie.genres %}{{ g.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </p>
                <p class="card-description">Release year: {{ movie.release_date|slice:"0:4" }}</p>
                <p class="card-description"><i>{{ movie.overview }}</i></p>
            </div>
        </div>
    </div>

    {# Right column #}
    <div class="col-md-7">
        {# My Review #}
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">My Review</h4>
            </div>
            <div class="card-content">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="category">Rating</p>
                    <h2 class="title">{{ review.rating }}</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="category">Reaction</p>
                    <p class="title"><i class="{{ review.reaction }}" id="reaction" style="font-size: 30px"></i></p>
                </div>
                <br>
                <div class="col-md-12">
                    <p class="category">Thoughts</p><br>
                    <blockquote class="blockquote">
                        <p><i>{{ review.thoughts }}</i></p>
                    </blockquote>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-info">Update Review</button>
                    </div>
                </div>
            </div>
        </div>

        {# Friends' Reviews #}
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Friend Reviews</h4>
            </div>
            <div class="card-content">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="category">Average Rating</p>
                    <h2 class="title">{{ review.rating }}</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="category">Most Common Reaction</p>
                    <p class="title"><i class="{{ review.reaction }}" id="reaction" style="font-size: 30px"></i></p>
                </div>
                <div class="col-md-12">
                    <table class="table" id="friend-reviews">
                        <thead class="text-danger">
                            <th>Friend</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">Reaction</th>
                            <th>Thoughts</th>
                        </thead>
                        <tbody>
                            <td>Sean</td>
                            <td class="text-center">8</td>
                            <td class="text-center"></td>
                            <td>Pretty sweet movie imo</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'general/js/movie-page.js' %}"></script>
{% endblock %}