{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header" data-background-color="green">
            <h4 class="title">[List Title]</h4>
        </div>
        <div class="card-content">
            <div class="col-sm-10">
                <div class="dropdown">
                    <div class="form-group label-floating dropdown-toggle" data-toggle="dropdown">
                        <label class="control-label">Enter movie title</label>
                        <input class="form-control" id="movie-input">
                    </div>
                    <ul class="dropdown-menu" id="movie-results" style="display: none"></ul>
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" onclick="searchMovies()">Search</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'general/js/list.js' %}"></script>
{% endblock %}
