<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    {% load static %}

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'material-dash/assets/img/apple-icon.png' %}"/>
    <link rel="icon" type="image/png" href="{% static 'general/img/favicon.ico' %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!--  Material Dashboard CSS    -->
    <link href="{% static 'material-dash/assets/css/material-dashboard.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styling -->
    <link href="{% static 'general/css/style.css' %}" rel="stylesheet">

    {% block header %}
    {% endblock %}
</head>

<body>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '471658626516914',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function logout() {
        FB.logout(function (response) {
        });
        window.location.replace("/logout/")
    }
</script>

<div class="wrapper">

    {# Side Nav Bar #}
    <div class="sidebar" data-active-color="purple" data-background-color="black"
         data-image="{% static 'material-dash/assets/img/sidebar-1.jpg' %}">
        <div class="logo">
            <a href="/" class="simple-text">
                <img src="{% static 'general/img/favicon.ico' %}" id="icon"> CommunityRate
            </a>
        </div>

        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    {% if request.user.profile_pic != "" %}
                        <img src="{{ request.user.profile_pic }}"
                             id="sidebarProfPic">
                    {% else %}
                        <img src="{% static 'material-dash/assets/img/placeholder.jpg' %}" id="sidebarProfPic">
                    {% endif %}
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#userOptions" class="collapsed">
                        {{ request.user.get_full_name }}
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="userOptions">
                        <ul class="nav">
                            <li>
                                <a href="/profile/{{ request.user.id }}/">My Profile</a>
                            </li>
                            {#                            <li>#}
                            {#                                <a href="/settings/">Settings</a>#}
                            {#                            </li>#}
                            <li>
                                <a onclick="logout()">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li {% if page == 'activity_feed' %}class="active"{% endif %}>
                    <a href="/">
                        <i class="material-icons">wifi_tethering</i>
                        <p>Activity Feed</p>
                    </a>
                </li>
                <li {% if page == 'profile' %}class="active"{% endif %}>
                    <a href="/profile/{{ request.user.id }}/">
                        <i class="material-icons">account_circle</i>
                        <p>Profile</p>
                    </a>
                </li>
                {#                    <li {% if page == 'discover' %}class="active"{% endif %}>#}
                {#                        <a href="/discover/">#}
                {#                            <i class="material-icons">explore</i>#}
                {#                            <p>Discover</p>#}
                {#                        </a>#}
                {#                    </li>#}
                <li {% if page == 'movie_db' or page == 'top_movies' or page == 'movies' or page == 'my_reviews' %}class="active"{% endif %}>
                    <a data-toggle="collapse" href="#movies">
                        <i class="material-icons">movie</i>
                        <p>Movies
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="movies">
                        <ul class="nav">
                            <li {% if page == 'top_movies' %}class="active"{% endif %}>
                                <a href="/top-movies/">Top Movies</a>
                            </li>
                            <li {% if page == 'movie_db' %}class="active"{% endif %}>
                                <a href="/movies/">Movie Database</a>
                            </li>
                            <li {% if page == 'my_reviews' %}class="active"{% endif %}>
                                <a href="/my-reviews/">My Reviews</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li {% if page == 'users' or page == 'all_users' or page == 'relationships' %}class="active"{% endif %}>
                    <a data-toggle="collapse" href="#users">
                        <i class="material-icons">people</i>
                        <p>Users
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="users">
                        <ul class="nav">
                            <li {% if page == 'all_users' %}class="active"{% endif %}>
                                <a href="/users/">All Users</a>
                            </li>
                            <li {% if page == 'relationships' %}class="active"{% endif %}>
                                <a href="/relationships/{{ request.user.id }}/">My Relationships</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li {% if page == 'lists' %}class="active"{% endif %}>
                    <a href="/lists/">
                        <i class="material-icons">list</i>
                        <p>Lists</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {# Top Nav Bar #}
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle show-navbar" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="right-nav">
                        <li class="dropdown navbar-toggle" id="help-mobile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="help-dropdown">
                                <i class="material-icons">help</i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/help/">Instructions/Tips</a></li>
                                <li><a href="/contact/">Contact</a></li>
                                <li><a class="toggle-welcome"
                                       href="{% if request.user.show_welcome %}/hide-welcome/{% else %}/show-welcome/{% endif %}">
                                    {% if request.user.show_welcome %}Hide{% else %}Show{% endif %} Welcome Menu</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown navbar-toggle" id="notifications-mobile">
                            <a onclick="functions.markNotificationsRead()" class="dropdown-toggle"
                               data-toggle="dropdown">
                                {% if num_unread|length > 0 %}
                                    <span class="notification" id="numRead">{{ num_unread }}</span>{% endif %}
                                <i class="material-icons">notifications</i>
                            </a>
                            <ul class="dropdown-menu" id="notification-dropdown">
                                {% for note in notifications %}
                                    {% if note.is_read %}
                                        <li><a href="{{ note.url }}">{{ note.message }}</a></li>
                                    {% else %}
                                        <li class="unread-notification"><a href="{{ note.url }}">{{ note.message }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </div>
                    <a class="navbar-brand" href="#">
                        {% if page == 'activity_feed' %}Activity Feed
                        {% elif page == 'profile' %}Profile
                        {% elif page == 'users' or page == 'all_users' or page == 'relationships' %}Users
                        {% elif page == 'movies' or page == 'movie_db' or page == 'top_movies' or page == 'my_reviews' %}
                            Movies
                        {% elif page == 'lists' %}Lists
                        {% elif page == 'contact' %}Contact
                        {% elif page == 'help' %}Help
                        {% endif %}
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" id="notifications-nav">
                            <a onclick="functions.markNotificationsRead()" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <i class="material-icons">notifications</i>
                                {% if num_unread|length > 0 %}
                                    <span class="notification" id="numRead">{{ num_unread }}</span>{% endif %}
                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu" id="notification-dropdown">
                                {% for note in notifications %}
                                    {% if note.is_read %}
                                        <li><a href="{{ note.url }}">{{ note.message }}</a></li>
                                    {% else %}
                                        <li class="unread-notification"><a href="{{ note.url }}">{{ note.message }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">person</i>
                                <p class="hidden-lg hidden-md">Profile</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/{{ request.user.id }}/">Profile</a></li>
                                {#                                <li><a href="/settings/">Settings</a></li>#}
                                <li><a onclick="logout()">Log out</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" id="help-nav">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="help-dropdown">
                                <i class="material-icons">help</i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/help/">Instructions/Tips</a></li>
                                <li><a href="/contact/">Contact</a></li>
                                <li><a class="toggle-welcome"
                                       href="{% if request.user.show_welcome %}/hide-welcome/{% else %}/show-welcome/{% endif %}">
                                    {% if request.user.show_welcome %}Hide{% else %}Show{% endif %} Welcome Menu</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search" action="/movies/" method="GET">
                        <div class="form-group form-search is-empty">
                            <input type="text" class="form-control" name="search" placeholder="Search movies">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="col-xs-6 col-xs-push-6 text-right">
                    <p>Created by Ryan Rosenfeld</p>
                    <a class="btn btn-simple btn-just-icon btn-linkedin el-footer"
                       href="https://www.linkedin.com/in/ryan-rosenfeld-a4380a10b/"><i
                            class="fa fa-linkedin-square"></i></a>
                    <a class="btn btn-simple btn-just-icon btn-github el-footer"
                       href="https://github.com/ryanrosenfeld"><i class="fa fa-github-square"></i></a>
                    <a class="btn btn-simple btn-just-icon el-footer" href="mailto:ryro003@gmail.com"><i
                            class="material-icons">email</i></a>
                </div>
                <div class="col-xs-6 col-xs-pull-6" style="margin-top: 7px;">
                    <p>
                        Movie information and images provided by <a href="https://www.themoviedb.org"><img
                            src="{% static 'general/img/tmdb.png' %}" style="width: 20px;"></a><br>
                        <i>This product uses the TMDb API but is not endorsed or certified by TMDb.</i><br>
                        Site icon made by <a href="www.freepik.com">Freepik</a> from <a href="www.flaticon.com">www.flaticon.com</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>

<!--   Core JS Files   -->
<script src="{% static 'material-dash/assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/material.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/perfect-scrollbar.jquery.min.js' %}"
        type="text/javascript"></script>

<!-- Forms Validations Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.validate.min.js' %}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{% static 'material-dash/assets/js/moment.min.js' %}"></script>
<!--  Charts Plugin -->
<script src="{% static 'material-dash/assets/js/chartist.min.js' %}"></script>
<!--  Plugin for the Wizard -->
<script src="{% static 'material-dash/assets/js/jquery.bootstrap-wizard.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'material-dash/assets/js/bootstrap-notify.js' %}"></script>
<!-- DateTimePicker Plugin -->
<script src="{% static 'material-dash/assets/js/bootstrap-datetimepicker.js' %}"></script>
<!-- Vector Map plugin -->
<script src="{% static 'material-dash/assets/js/jquery-jvectormap.js' %}"></script>
<!-- Sliders Plugin -->
<script src="{% static 'material-dash/assets/js/nouislider.min.js' %}"></script>
<!-- Select Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.select-bootstrap.js' %}"></script>
<!--  DataTables.net Plugin    -->
<script src="{% static 'material-dash/assets/js/jquery.datatables.js' %}"></script>
<!-- Sweet Alert 2 plugin -->
<script src="{% static 'material-dash/assets/js/sweetalert2.js' %}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'material-dash/assets/js/jasny-bootstrap.min.js' %}"></script>
<!-- TagsInput Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.tagsinput.js' %}"></script>
<!-- Font Awesome Icons -->
<script src="https://use.fontawesome.com/90b4d1fbb5.js"></script>

<!-- Material Dashboard javascript methods -->
<script src="{% static 'material-dash/assets/js/material-dashboard.js' %}"></script>

<!-- General Functions -->
<script src="{% static 'general/js/functions.js' %}"></script>

<!-- Google analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-102562575-1', 'auto');
    ga('send', 'pageview');
</script>

{% block scripts %}{% endblock %}

</html>
