{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding: 150px 0">
		<!-- Header -->
		<div class="page-header">
		  	<h3>{{ movie.title }}</h3>
		</div>

		<!-- Left Column: General Movie info -->
		<div class="col-md-4">
			<p id="genre">Genre: </p>
			<p id="followerRating">Rating: </p>
			<p id="followerEntertainment">Entertainment Value: </p>
			<p id="followerEducation">Education Value: </p>
			<p id="followerMood">Average Mood: </p>
		</div>

		<!-- Right Column: Your Movie info -->
		<div class="col-md-8">
				<button type="button" class="btn btn-primary btn-circle btn-xl" id="MyRating">8.8</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-danger btn-circle btn-lg" id="MyEntertainment"><i class="glyphicon glyphicon-fire"></i></button>&nbsp;&nbsp;
				<button type="button" class="btn btn-success btn-circle btn-lg" id="MyEducation"><i class="glyphicon glyphicon-education"></i></button>&nbsp;&nbsp;
				<button type="button" class="btn btn-info btn-circle btn-lg" id="MyMood"><i class="glyphicon glyphicon-fire"></i></button><br>

		</div>
    </div>
{% endblock %}