{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding: 150px 0">
		<!-- Header -->
		<div class="page-header">
		  	<h3>{{ movie.title }}</h3>
		</div>

		<!-- Left Column: General Movie info -->
		<div class="col-md-4">
			<p id="genre">Genre: </p>
			<p id="followerRating">Rating: </p>
			<p id="followerEntertainment">Entertainment Value: </p>
			<p id="followerEducation">Education Value: </p>
			<p id="followerMood">Average Mood: </p>
		</div>

		<!-- Right Column: Your Movie info -->
		<div class="col-md-8">
            <form action="/movie/{{ movie.id }}/addreview/" method="POST">
                {{ form }}
            </form>
		</div>
    </div>
{% endblock %}