{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>Activity Feed</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="{% static 'general/css/activity-feed.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if updates|length == 0 %}
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">sentiment_very_dissatisfied</i>
                <span data-notify="message">Looks like you don't have anything in your feed. Start following friends to keep track of what they're up to!</span>
            </div>
        </div>
    {% endif %}
    <div class="col-md-10 col-md-offset-1">
        {% for user, movie, review, comments in updates %}
            <div class="card">
                <div class="col-md-5">
                    <a href="/movie/{{ movie.movie_id }}">
                        <div class="card-image-custom" style="display: inline-block">
                            <img src="http://image.tmdb.org/t/p/w92{{ movie.poster_path }}"
                                 alt="{% static 'general/img/no_poster.jpg' %}" style="height: 130px; width: 100px;">
                        </div>
                    </a>
                    <a href="/profile/{{ user.username }}/">
                        <div class="card-image-circle photo" style="display: inline-block;">
                            {% if user.has_pic %}
                                <img src="https://s3.amazonaws.com/communityrate/{{ user.username }}">
                            {% else %}
                                <img src="{% static 'material-dash/assets/img/placeholder.jpg' %}">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="col-md-7 text-right">
                    <div class="card-content">
                        <h3 class="card-title">{{ movie.title }}</h3>
                        <h4 class="card-description">Reviewed by {{ user.first_name }} {{ user.last_name }}</h4>
                        <p class="card-description" style="margin-top: -8px;">{{ review.date_added }} <i
                                class="material-icons" style="font-size: 20px;">access_time</i></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center rating-col">Rating</th>
                                <th class="text-center react-col">Reaction</th>
                                <th class="text-center thoughts-col">Thoughts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center rating-col"><h2>{{ review.rating }}</h2></td>
                                <td class="text-center react-col"><h2><i class="{{ review.reaction }}"></i></h2></td>
                                <td class="text-center thoughts-col">{{ review.thoughts }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 col-md-offset-6 text-right" style="margin-top: -30px;">
                    <button class="btn btn-simple" onclick="toggleCommentsDisplay({{ review.id }})">Comments (<span id="comment-num-{{ review.id }}">{{ comments|length }}</span>) <i class="material-icons">chat</i>
                    </button>
                </div>
                <div class="col-md-10 col-md-offset-1 text-center comments" id="comments-{{ review.id }}">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-10">
                                    <input class="form-control comment" placeholder="Enter a new comment" id="comment-{{ review.id }}">
                                </div>
                                <div class="col-xs-2">
                                    <button type="button" class="btn btn-primary btn-just-icon" onclick="submitComment({{ review.id }})">
                                        <i class="material-icons">check</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-striped text-left table-comments" id="comment-list-{{ review.id }}" style="margin-bottom: 10px;">
                            <tbody>
                                {% for comment in comments %}
                                    <tr>
                                        <td class="col-comment">
                                            <a href="/profile/{{ comment.author.username }}/">
                                                {{ comment.author.first_name }} {{ comment.author.last_name }}
                                            </a>
                                            {{ comment.comment }}
                                        </td>
{#                                        {% if comment.author.id == request.user.id %}#}
{#                                            <td class="text-center col-delete">#}
{#                                                <button type="button" class="btn btn-danger btn-simple" onclick="deleteComment({{ comment.id }})">#}
{#                                                    <i class="material-icons">clear</i>#}
{#                                                </button>#}
{#                                            </td>#}
{#                                        {% endif %}#}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var welcome = "{{ welcome }}";
            if (welcome == "True") {
                functions.sweetAlert('welcome')
            }
        });

        function toggleCommentsDisplay(reviewId) {
            var commentBlock = $("#comments-" + reviewId);
            if (commentBlock.css("display") == "none") {
                commentBlock.css("display", "block");
            }
            else {
                commentBlock.css("display", "none");
            }
        }

        function submitComment(reviewId) {
            var commentInput = $("#comment-" + reviewId);
            var comment = commentInput.val();
            commentInput.val('');
            if (comment.length > 0) {
                $.ajax({
                    url: '/ajax/add-comment/',
                    data: {
                        'review_id': reviewId,
                        'comment': comment
                    },
                    dataType: 'json'
                });

                $("#comment-list-" + reviewId).prepend(
                    '<tr>' +
                        '<td>' +
                            '<a href="/profile/{{ request.user.username }}/">' +
                                '{{ request.user.first_name }} {{ request.user.last_name }}' +
                            '</a> ' +
                            comment +
                        '</td>' +
                    '</tr>'
                );

                var numComments = $("#comment-num-" + reviewId);
                var newNum = parseInt(numComments.html()) + 1;
                numComments.html(newNum);
            }
        }
    </script>
{% endblock %}