{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>Contact</title>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Contact Information</h2>
        <h5>Need support? Have questions? Please reach out!</h5>
        <p>Email me at <a href="mailto:ryro003@gmail.com">ryro003@gmail.com</a></p>
        <h5>Want to learn more about Ryan Rosenfeld, the creator of the site?</h5>
        <p>
            <a href="https://www.linkedin.com/in/ryan-rosenfeld-a4380a10b/">LinkedIn</a> |
            <a href="https://github.com/ryanrosenfeld">Github</a> |
            <a href="http://ryanrosenfeld.wixsite.com/portfolio">Portfolio Website</a>
        </p>
    </div>
{% endblock %}