{% extends 'login-base.html' %}

{% load static %}

{% block content %}
    <div class="full-page login-page" filter-color="black"
         data-image="{% static 'material-dash/assets/img/login.jpeg' %}">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="card card-login card-hidden">
                            <div class="card-header text-center" data-background-color="rose">
                                <h4 class="card-title">Forgot Password</h4>
                            </div>

                            {# Alert message if it exists #}
                            {% if message != '' %}
                                <div class="col-md-12">
                                    <div class="alert alert-info alert-with-icon" data-notify="container" style="margin-top: 10px;">
                                        <i class="material-icons" data-notify="icon">notifications</i>
                                        <span data-notify="message">{{ message }}</span>
                                    </div>
                                </div>
                            {% endif %}

                            <form id="login-form" action="/forgot-password/" method="POST" role="form">
                                {% csrf_token %}
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">mail</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email Address</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Send
                                            info
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="col-xs-6 col-xs-push-6 text-right">
                    <p>Created by Ryan Rosenfeld</p>
                    <a class="btn btn-simple btn-just-icon btn-linkedin el-footer" href="https://www.linkedin.com/in/ryan-rosenfeld-a4380a10b/"><i class="fa fa-linkedin-square"></i></a>
                    <a class="btn btn-simple btn-just-icon btn-github el-footer" href="https://github.com/ryanrosenfeld"><i class="fa fa-github-square"></i></a>
                    <a class="btn btn-simple btn-just-icon el-footer" href="mailto:ryro003@gmail.com"><i class="material-icons">email</i></a>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}


