{% extends 'login-base.html' %}

{% load static %}

{% block content %}
    <div class="full-page login-page" filter-color="black" data-image="{% static 'material-dash/assets/img/login.jpeg' %}">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form method="POST" action="/login/">
                            {% csrf_token %}
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="rose">
                                    <h4 class="card-title">Login</h4>
                                </div>
                                <div class="text-center">
                                    <button onclick="fbLogin()" class="btn btn-social btn-fill btn-facebook" type="button">
                                        <i class="fa fa-facebook-square" style="margin-right: 6px"></i> Facebook Login
                                    </button>
                                </div>
                                <div class="card-content">
                                    <p class="category text-center" style="margin-top: 10px; margin-bottom: -10px;">
                                        OR
                                    </p>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Username</label>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            {{ form.password }}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Let's go</button>
                                    </div>
                                    <div class="text-right">
                                        <a href="/forgot-password/" style="margin-right: 25px;">Forgot login info?</a><br>
                                        <a href="/register/" style="margin-right: 25px; margin-top: 5px">New user?</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="col-xs-6 col-xs-push-6 text-right">
                    <p>Created by Ryan Rosenfeld</p>
                    <a class="btn btn-simple btn-just-icon btn-linkedin el-footer" href="https://www.linkedin.com/in/ryan-rosenfeld-a4380a10b/"><i class="fa fa-linkedin-square"></i></a>
                    <a class="btn btn-simple btn-just-icon btn-github el-footer" href="https://github.com/ryanrosenfeld"><i class="fa fa-github-square"></i></a>
                    <a class="btn btn-simple btn-just-icon el-footer" href="mailto:ryro003@gmail.com"><i class="material-icons">email</i></a>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}


