<!doctype html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8"/>
    <title>CommunityRate Tutorial</title>

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'material-dash/assets/img/apple-icon.png' %}"/>
    <link rel="icon" type="image/png" href="{% static 'general/img/favicon.ico' %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!--  Material Dashboard CSS    -->
    <link href="{% static 'material-dash/assets/css/material-dashboard.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styling -->
    <link href="{% static 'general/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'general/css/tutorial.css' %}">
</head>

<body>

<div class="wrapper">

    {# Side Nav Bar #}
    <div class="sidebar hidden" data-active-color="purple" data-background-color="black"
         data-image="{% static 'material-dash/assets/img/sidebar-1.jpg' %}">
        <div class="logo">
            <a href="/" class="simple-text">
                <img src="{% static 'general/img/favicon.ico' %}" id="icon"> CommunityRate
            </a>
        </div>

        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    {% if request.user.has_pic %}
                        <img src="{{ profile_pic_base_url }}{{ request.user.username }}"
                             id="sidebarProfPic">
                    {% else %}
                        <img src="{% static 'material-dash/assets/img/placeholder.jpg' %}">
                    {% endif %}
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#userOptions" class="collapsed">
                        {{ request.user.get_full_name }}
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="userOptions">
                        <ul class="nav">
                            <li>
                                <a href="/profile/">My Profile</a>
                            </li>
{#                            <li>#}
{#                                <a href="/settings/">Settings</a>#}
{#                            </li>#}
                            <li>
                                <a onclick="logout()">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li {% if page == 'activity_feed' %}class="active"{% endif %}>
                    <a href="/">
                        <i class="material-icons">wifi_tethering</i>
                        <p>Activity Feed</p>
                    </a>
                </li>
                <li {% if page == 'profile' %}class="active"{% endif %}>
                    <a href="/profile/">
                        <i class="material-icons">account_circle</i>
                        <p>Profile</p>
                    </a>
                </li>
                {#                    <li {% if page == 'discover' %}class="active"{% endif %}>#}
                {#                        <a href="/discover/">#}
                {#                            <i class="material-icons">explore</i>#}
                {#                            <p>Discover</p>#}
                {#                        </a>#}
                {#                    </li>#}
                <li {% if page == 'movie_db' or page == 'top_movies' or page == 'movies' %}class="active"{% endif %}>
                    <a data-toggle="collapse" href="#movies">
                        <i class="material-icons">movie</i>
                        <p>Movies
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="movies">
                        <ul class="nav">
                            <li {% if page == 'top_movies' %}class="active"{% endif %}>
                                <a href="/top-movies/">Top Movies</a>
                            </li>
                            <li {% if page == 'movie_db' %}class="active"{% endif %}>
                                <a href="/movies/">Movie Database</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li {% if page == 'users' or page == 'all_users' or page == 'relationships' %}class="active"{% endif %}>
                    <a data-toggle="collapse" href="#users">
                        <i class="material-icons">people</i>
                        <p>Users
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="users">
                        <ul class="nav">
                            <li {% if page == 'all_users' %}class="active"{% endif %}>
                                <a href="/users/">All Users</a>
                            </li>
                            <li {% if page == 'relationships' %}class="active"{% endif %}>
                                <a href="/relationships/">My Relationships</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li {% if page == 'lists' %}class="active"{% endif %}>
                    <a href="/lists/">
                        <i class="material-icons">list</i>
                        <p>Lists</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {# Top Nav Bar #}
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute hidden">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        Tutorial
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a onclick="functions.markNotificationsRead()" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <i class="material-icons">notifications</i>
                                <span class="notification" id="numRead">{{ num_unread }}</span>
                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu" id="notification-dropdown">
                                {% for note in notifications %}
                                    {% if note.is_read %}
                                        <li><a>{{ note.message }}</a></li>
                                    {% else %}
                                        <li class="unread-notification"><a>{{ note.message }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">person</i>
                                <p class="hidden-lg hidden-md">Profile</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/">Profile</a></li>
{#                                <li><a href="/settings/">Settings</a></li>#}
                                <li><a onclick="logout()">Log out</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="help-dropdown">
                                <i class="material-icons">help</i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/help/">Instructions/Tips</a></li>
                                <li><a href="/contact/">Contact</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search" action="/movies/" method="GET">
                        <div class="form-group form-search is-empty">
                            <input type="text" class="form-control" name="search" placeholder="Search movies">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <!-- welcome modal -->
                <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-notice">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Welcome to CommunityRate!</h4>
                                <i>The site where your <strong>friends'</strong> opinions matter, not the whole
                                    worlds'.</i>
                            </div>
                            <div class="modal-body">
                                <div class="instruction">
                                    <p>Ever wanted to share your thoughts on movies with your friends? Keep track of
                                        what movies you want to watch? Figure out what movie to watch next?</p>
                                    <strong class="text-primary">If so, you've come to the right place!</strong>
                                </div>
                                <div class="instruction text-center">
                                    <button class="btn btn-success" data-dismiss="modal" onclick="tutorial(1)">
                                        Get started!
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end welcome modal -->

                <!-- tutorial #1 modal -->
                <div class="modal fade" id="tutorialModal1" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-notice">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel"><strong>Tutorial step 1/2:</strong> The side navbar</h4>
                            </div>
                            <div class="modal-body">
                                <div class="instruction">
                                    <p>As you can now see to the left, the <strong>side navbar</strong> is revealed.
                                        This is what you will use to navigate through the site.</p>
                                </div>
                                <div class="instruction">
                                    <p>The navbar has several options:</p>
                                    <ul>
                                        <li>If you click on your name, you will be able to <strong class="text-primary">view
                                            your profile</strong>
                                            or <strong class="text-primary">logout</strong></li>
                                        <li>The <strong class="text-primary">Activity Feed</strong> will show the
                                            most recent reviews by your friends
                                        </li>
                                        <li>Below there is another link to access your <strong class="text-primary">Profile</strong></li>
                                        <li>In the <strong class="text-primary">Movies</strong> section, you'll be able
                                            to see a list of <strong class="text-primary">top movies</strong> sorted by
                                            your friends' ratings, find new movies in the
                                            <strong class="text-primary">Movie Database</strong>, and see all of your
                                            personal reviews in <strong class="text-primary">My Reviews</strong>
                                        </li>
                                        <li>Under the <strong class="text-primary">Users</strong> tab, you will be able
                                            to view a list of <strong class="text-primary">all users</strong> to find
                                            new friends, or view the users you already have
                                            <strong class="text-primary">relationships</strong> with
                                        </li>
                                        <li>With the <strong class="text-primary">Lists</strong> functionality, you can
                                            keep track of movies by creating custom lists
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" onclick="tutorial(2)" data-dismiss="modal">Next lesson
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tutorial #1 modal -->

                <!-- tutorial #2 modal -->
                <div class="modal fade" id="tutorialModal2" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-notice">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel"><strong>Tutorial step 2/2:</strong> The top navbar</h4>
                            </div>
                            <div class="modal-body">
                                <div class="instruction">
                                    <p>At the top of the page, the <strong>top navbar</strong> is now visible.</p>
                                </div>
                                <div class="instruction">
                                    <p>This navbar has additional ways to help you out, with the following options:</p>
                                    <ul>
                                        <li>You can <strong class="text-primary">search for movies</strong> from
                                            anywhere within the site
                                        </li>
                                        <li>Any <strong class="text-primary">notifications</strong> (such as when a user
                                            follows you) will be displayed in a drop down menu
                                        </li>
                                        <li>Your <strong class="text-primary">user options</strong>
                                            (view your profile or logout) are made available again
                                        </li>
                                        <li>At any point, you can click on the <strong class="text-primary">help</strong>
                                                button to access either a list of <strong class="text-primary">instructions
                                                and common questions</strong> or a <strong class="text-primary">contact</strong>
                                                page</li>
                                    </ul>
                                    <p>In addition, in the top left corner the general section of the site you're
                                        currently on will be displayed.</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" onclick="tutorial(3)" data-dismiss="modal">Set up my profile!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tutorial #2 modal -->

                <!-- profile set up wizard -->
                <div class="col-md-8 col-md-offset-2">
                    <div class="wizard-container hidden">
                        <div class="card wizard-card" data-color="rose" id="wizardProfile">
                            <form action="/tutorial/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Time to fill out your profile!
                                    </h3>
                                    <h5>Follow these steps to get all set up.</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li>
                                            <a href="#info" data-toggle="tab">EXTRA INFO</a>
                                        </li>
                                        <li>
                                            <a href="#picture" data-toggle="tab">PROFILE PICTURE</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="info">
                                        <div class="row">
                                            <h4 class="info-text">Enter in some additional info</h4>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Select Timezone</label>
                                                        {{ form.timezone }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Favorite Movie Quote</label>
                                                        {{ form.fav_quote }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">About Me</label>
                                                        {{ form.about_me }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="picture">
                                        <h4 class="info-text"> Add a profile picture </h4>
                                        <div class="picture-container">
                                            <div class="picture photo">
                                                <img src="{% static '/material-dash/assets/img/placeholder.jpg' %}" class="picture-src"
                                                     id="wizardPicturePreview" title=""/>
                                                <input type="file" id="wizard-picture">
                                            </div>
                                            <h6>Choose Picture</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next'
                                               value='Next'/>
                                        <input type='submit' class='btn btn-finish btn-fill btn-rose btn-wd'
                                               name='finish' value='Get Started!'/>
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd'
                                               name='previous' value='Previous'/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="col-xs-6 col-xs-push-6 text-right">
                    <p>Created by Ryan Rosenfeld</p>
                    <a class="btn btn-simple btn-just-icon btn-linkedin el-footer" href="https://www.linkedin.com/in/ryan-rosenfeld-a4380a10b/"><i class="fa fa-linkedin-square"></i></a>
                    <a class="btn btn-simple btn-just-icon btn-github el-footer" href="https://github.com/ryanrosenfeld"><i class="fa fa-github-square"></i></a>
                    <a class="btn btn-simple btn-just-icon el-footer" href="mailto:ryro003@gmail.com"><i class="material-icons">email</i></a>
                </div>
                <div class="col-xs-6 col-xs-pull-6" style="margin-top: 7px;">
                    <p>
                        Movie information and images provided by <a href="https://www.themoviedb.org"><img src="{% static 'general/img/tmdb.png' %}" style="width: 20px;"></a><br>
                        <i>This product uses the TMDb API but is not endorsed or certified by TMDb.</i>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>

<!--   Core JS Files   -->
<script src="{% static 'material-dash/assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/material.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material-dash/assets/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>

<!-- Forms Validations Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.validate.min.js' %}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{% static 'material-dash/assets/js/moment.min.js' %}"></script>
<!--  Charts Plugin -->
<script src="{% static 'material-dash/assets/js/chartist.min.js' %}"></script>
<!--  Plugin for the Wizard -->
<script src="{% static 'material-dash/assets/js/jquery.bootstrap-wizard.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'material-dash/assets/js/bootstrap-notify.js' %}"></script>
<!-- DateTimePicker Plugin -->
<script src="{% static 'material-dash/assets/js/bootstrap-datetimepicker.js' %}"></script>
<!-- Vector Map plugin -->
<script src="{% static 'material-dash/assets/js/jquery-jvectormap.js' %}"></script>
<!-- Sliders Plugin -->
<script src="{% static 'material-dash/assets/js/nouislider.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Select Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.select-bootstrap.js' %}"></script>
<!--  DataTables.net Plugin    -->
<script src="{% static 'material-dash/assets/js/jquery.datatables.js' %}"></script>
<!-- Sweet Alert 2 plugin -->
<script src="{% static 'material-dash/assets/js/sweetalert2.js' %}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'material-dash/assets/js/jasny-bootstrap.min.js' %}"></script>
<!--  Full Calendar Plugin    -->
<script src="{% static 'material-dash/assets/js/fullcalendar.min.js' %}"></script>
<!-- TagsInput Plugin -->
<script src="{% static 'material-dash/assets/js/jquery.tagsinput.js' %}"></script>

<!-- Material Dashboard javascript methods -->
<script src="{% static 'material-dash/assets/js/material-dashboard.js' %}"></script>

<!-- General Functions -->
<script src="{% static 'general/js/functions.js' %}"></script>

<script>
    $(window).on('load', function () {
    var newUser = "{{ new_user }}";
    console.log(newUser);
    if (newUser == "True") {
        $('#welcomeModal').modal({backdrop: 'static', keyboard: false});
    }
    else {
        if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            tutorial(3);
        }
        else {
            tutorial(1);
        }
    }
});
</script>

<!-- Tutorial functions -->
<script src="{% static 'general/js/tutorial.js' %}"></script>

</html>
