{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>{{ list.name }}</title>
    <link href="{% static 'general/css/list.css' %}" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        {% if not owner %}
            <button class="btn btn-primary btn-just-icon pull-right" id="btn-like" onclick="like()">
                <i class="material-icons">thumb_up</i>
                {% if liked %}<i class="material-icons">check</i>{% endif %}
            </button>
        {% endif %}
        {% if owner %}
            <button class="btn btn-danger btn-just-icon pull-right" id="delete-btn" onclick="deleteList()">
                <i class="material-icons">delete</i>
            </button>
            <button class="btn btn-primary btn btn-edit-options pull-right" id="btn-editors" data-toggle="modal" data-target="#permissionsModal">
                <i class="material-icons">people</i> Permissions
            </button>
        {% endif %}
        {% if owner or editor %}
            <button class="btn btn-info non-edit-display pull-right" id="editList" onclick="toggleEditMode()">
                <i class="material-icons">edit</i> Edit List
            </button>
        {% endif %}
        <button class="btn btn-rose edit-display pull-right" onclick="toggleEditMode()">
            <i class="material-icons">check</i> Finish Editing
        </button>
        <br><br>
        <div class="col-md-6 edit-display" id="add-movies">
            <div class="dropdown">
                <div class="form-group label-floating dropdown-toggle" data-toggle="dropdown">
                    <label class="control-label">ADD MOVIES</label>
                    <input class="form-control" id="movie-input">
                </div>
                <ul class="dropdown-menu" id="movie-results" style="display: none"></ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title card-header-title" id="list-name">{{ list.name }}</h4>
                <div class="form-group" id="edit-list-name-group" style="display: none">
                    <input class="form-control" id="edit-list-name" value="{{ list.name }}">
                </div>
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-shopping table-hover">
                        <thead class="text-success">
                            <tr>
                                <th class="text-center"></th>
                                <th>Movie</th>
                                <th class="text-center">My Rating</th>
                                <th class="text-center">Average Rating</th>
                                <th class="text-center">My Reaction</th>
                                <th class="text-center">Most Common Reaction</th>
                                <th class="text-center edit-display-table">Remove?</th>
                            </tr>
                        </thead>
                        <tbody id="movie-table-body">
                            {% for movie, rev, av_rev in movies %}
                                <tr id="row-{{ movie.movie_id }}">
                                    <td class="td-link" onclick="window.location.href='/movie/{{ movie.movie_id }}/'">
                                        <div class="img-container" onclick="window.location.href='/movie/{{ movie.movie_id }}/'">
                                            <img src="{{ movie.img_path }}" alt="...">
                                        </div>
                                    </td>
                                    <td class="td-name td-link" onclick="window.location.href='/movie/{{ movie.movie_id }}/'">
                                        <a>{{ movie.title }}</a>
                                        <br />
                                        <small>{{ movie.release_year }}</small>
                                    </td>
                                    <td class="text-center td-link" onclick="window.location.href='/movie/{{ movie.movie_id }}/'">{{ rev.rating }}</td>
                                    <td class="text-center td-link" onclick="window.location.href='/movie/{{ movie.movie_id }}/'">{{ av_rev.0 }}</td>
                                    <td class="text-center td-link" onclick="window.location.href='/movie/{{ movie.movie_id }}/'"><i class="{{ rev.reaction }}"></i></td>
                                    <td class="text-center td-link" onclick="window.location.href='/movie/{{ movie.movie_id }}/'"><i class="{{ av_rev.1 }}"></i></td>
                                    <td class="text-center edit-display-table">
                                        <button type="button" id="btn-rmv" class="btn btn-danger btn-simple btn-xs" onclick="removeListItem({{ movie.movie_id }})">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Permissions Modal -->
    <div class="modal fade" id="permissionsModal" tabindex="-1" role="dialog" aria-labelledby="editProfile"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Edit User Permissions</h4>
                </div>
                <div class="modal-body">
                    {# Public/Private Status #}
                    <p>
                        Status (click to toggle):
                        <button class="btn btn-warning btn-simple" id="btn-public_private" onclick="togglePublicPrivate()">
                            <span>
                                {% if list.public %} Public{% else %} Private{% endif %}
                            </span>
                            <i class="material-icons" id="public_private-btn-content">{% if list.public %}public{% else %}lock_outline{% endif %}</i>
                        </button>
                    </p>

                    {# Editors #}
                    <div class="col-md-6">
                        <p class="permission-title">Current Editors</p>
                        <table class="table table-editors">
                            <tbody id="editor-list">
                                {% for editor in editors %}
                                    <tr id="user-{{ editor.id }}">
                                        <td>{{ editor.first_name }} {{ editor.last_name }} (@{{ editor.username }})</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-simple btn-xs" onclick='removeEditor("{{ editor.id }}", "{{ editor.first_name }} {{ editor.last_name }} (@{{ editor.username }})")'>
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <p class="permission-title">Add Editor</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Filter by name" id="editor-name">
                        </div>
                        <table class="table table-hover table-editors">
                            <tbody id="add-editor-list">
                                {% for user in following %}
                                    <tr onclick="addEditor({{ user.id }})" id="user-{{ user.id }}" class="{{ user.first_name|lower }} {{ user.last_name|lower }}">
                                        <td><strong class="text-info"><</strong> {{ user.first_name }} {{ user.last_name }} (@{{ user.username }})</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
{% endblock %}

{% block scripts %}
    <script>
        var l_id = "{{ list.id }}";
    </script>
    <script src="{% static 'general/js/list.js' %}"></script>
{% endblock %}
