{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>Movie Lists</title>
    <link href="{% static 'general/css/lists.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="nav-center">
                <ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
                    <li class="active">
                        <a href="#my-lists" role="tab" data-toggle="tab">
                            <i class="material-icons">person_outline</i>My Lists
                        </a>
                    </li>
                    <li>
                        <a href="#popular" role="tab" data-toggle="tab">
                            <i class="material-icons">favorite</i>Popular Lists
                        </a>
                    </li>
                    <li>
                        <a href="#shared" role="tab" data-toggle="tab">
                            <i class="material-icons">lock_open</i>Editable Lists
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <a class="btn btn-rose" id="btn-new-list" href="/new-list/">New List  <i class="material-icons">add_circle_outline</i></a>
                <div class="tab-pane active" id="my-lists">
                    <div class="card">
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-success">
                                        <th>Name</th>
                                        <th>Last Change</th>
                                        <th class="text-center">Public/Private</th>
                                        <th class="text-center">Number of Movies</th>
                                        <th class="text-center">Likes</th>
                                    </thead>
                                    <tbody>
                                        {% for list, num, likes in my_lists %}
                                            <tr onclick="window.location.href='/list/{{ list.id }}/'">
                                                <td>{{ list.name }}</td>
                                                {% load tz %}
                                                <td>{{ list.date_updated|localtime }}</td>
                                                <td class="text-center"><i class="material-icons">{% if list.public %}public{% else %}lock_outline{% endif %}</i></td>
                                                <td class="text-center">{{ num }}</td>
                                                <td class="text-center">{{ likes }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="popular">
                    <div class="card">
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-success">
                                        <th>Name</th>
                                        <th>Creator</th>
                                        <th>Last Change</th>
                                        <th class="text-center">Number of Movies</th>
                                        <th class="text-center">Likes</th>
                                    </thead>
                                    <tbody>
                                        {% for list, num, likes in friend_lists %}
                                            <tr onclick="window.location.href='/list/{{ list.id }}/'">
                                                <td>{{ list.name }}</td>
                                                <td>{{ list.creator.first_name }} {{ list.creator.last_name }}</td>
                                                <td>{{ list.date_updated }}</td>
                                                <td class="text-center">{{ num }}</td>
                                                <td class="text-center">{{ likes }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="shared">
                    <div class="card">
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-success">
                                        <th>Name</th>
                                        <th>Creator</th>
                                        <th>Last Change</th>
                                        <th class="text-center">Public/Private</th>
                                        <th class="text-center">Number of Movies</th>
                                        <th class="text-center">Likes</th>
                                    </thead>
                                    <tbody>
                                        {% for list, num, likes in shared_lists %}
                                            <tr onclick="window.location.href='/list/{{ list.id }}/'">
                                                <td>{{ list.name }}</td>
                                                <td>{{ list.creator.first_name }} {{ list.creator.last_name }}</td>
                                                <td>{{ list.date_updated }}</td>
                                                <td class="text-center"><i class="material-icons">{% if list.public %}public{% else %}lock_outline{% endif %}</i></td>
                                                <td class="text-center">{{ num }}</td>
                                                <td class="text-center">{{ likes }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}