{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>{{ movie.title }}</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="{% static 'general/css/movie.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {# Left column #}
    <div class="col-md-5">
        {# Movie info #}
        <div class="card card-stats">
            <div class="col-lg-4">
                <div class="card-image-custom pull-left">
                    <img src="http://image.tmdb.org/t/p/w92{{ movie.poster_path }}"
                         alt="{% static 'general/img/no_poster.jpg' %}" style="height: 130px; width: 100px;">
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card-content">
                    <div class="movie-header">
                        <h3 class="card-title">{{ movie.title }}</h3>
                        <p class="card-description">Release year: {{ movie.release_date|slice:"0:4" }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                </div>
                <div class="card-content">
                    <p class="card-description">
                        <a id="imdb-link" target="_blank" href="http://www.imdb.com/title/{{ movie.imdb_id }}/">iMDB
                            page <i class="material-icons">launch</i></a>
                    </p>
                    <p class="card-description">
                        Genre(s):
                        {% for g in movie.genres %}{{ g.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </p>
                    <p class="card-description"><i>{{ movie.overview }}</i></p>
                </div>
            </div>
        </div>
    </div>

    {# Right column #}
    <div class="col-md-7">
        {# My Review #}
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title card-header-title">My Review</h4>
            </div>
            <div class="card-content">
                <div class="col-md-3 col-sm-6 text-center">
                    <p class="category">Rating</p>
                    <h2 class="title">{{ review.rating }}</h2>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <p class="category">Reaction</p>
                    <p class="title"><i class="{{ review.reaction }} reaction-large"></i></p>
                </div>
                <div class="col-md-6 text-center">
                    <p class="category">Thoughts</p><br>
                    <p class="content"><i>{{ review.thoughts }}</i></p>
                </div>
                <div class="col-md-12">
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-info" onclick="showUpdateReview()">
                            {% if review %}Edit Review{% else %}Add Review{% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# Friends' Reviews #}
        <div class="card">
            <div class="card-header" data-background-color="rose">
                <h4 class="title card-header-title">Friend Reviews</h4>
            </div>
            <div class="card-content">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="category">Average Rating</p>
                    <h2 class="title">{{ av_rating }}</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="category">Most Common Reaction</p>
                    <p class="title"><i class="{{ common_react }} reaction-large"></i></p>
                </div>
                <div class="col-md-12">
                    <table class="table" id="friend-reviews">
                        <thead class="text-rose">
                        <th>Friend</th>
                        <th class="text-center">Rating</th>
                        <th class="text-center">Reaction</th>
                        <th>Thoughts</th>
                        </thead>
                        <tbody>
                        {% for user, review in following_users %}
                            <tr>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td class="text-center">{{ review.rating }}</td>
                                <td class="text-center"><i class="{{ review.reaction }}"></i></td>
                                <td>{{ review.thoughts }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Update Review Modal -->
        <div class="modal fade" id="updateReviewModal" tabindex="-1" role="dialog" aria-labelledby="updateReview"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/movie/{{ movie.id }}/" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </button>
                            <h3 class="modal-title"><strong>Update Review</strong></h3>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="rating-field">Rating</label>
                                    {{ form.rating }}
                                </div>
                                <div class="form-group">
                                    <label>Reaction</label><br>
                                    <div style="display:none">{{ form.reaction }}</div>
                                    <div id="emoji-selection">
                                        <div class="row">
                                            <i class="em em-grinning" onclick="setReaction('grinning')"></i>
                                            <i class="em em-joy" onclick="setReaction('joy')"></i>
                                            <i class="em em-blush" onclick="setReaction('blush')"></i>
                                            <i class="em em-heart_eyes" onclick="setReaction('heart_eyes')"></i>
                                            <i class="em em-neutral_face" onclick="setReaction('neutral_face')"></i>
                                            <i class="em em-confused" onclick="setReaction('confused')"></i>
                                            <i class="em em-unamused" onclick="setReaction('unamused')"></i>
                                            <i class="em em-disappointed" onclick="setReaction('disappointed')"></i>
                                            <i class="em em-angry" onclick="setReaction('angry')"></i>
                                            <i class="em em-anguished" onclick="setReaction('anguished')"></i>
                                            <i class="em em-sob" onclick="setReaction('sob')"></i>
                                            <i class="em em-cry" onclick="setReaction('cry')"></i>
                                            <i class="em em-sleeping" onclick="setReaction('sleeping')"></i>
                                            <i class="em em-astonished" onclick="setReaction('astonished')"></i>
                                            <i class="em em-cold_sweat" onclick="setReaction('cold_sweat')"></i>
                                            <i class="em em-frowning" onclick="setReaction('frowning')"></i>
                                            <i class="em em-grimacing" onclick="setReaction('grimacing')"></i>
                                            <i class="em em-hushed" onclick="setReaction('hushed')"></i>
                                            <i class="em em-laughing" onclick="setReaction('laughing')"></i>
                                            <i class="em em-relieved" onclick="setReaction('relieved')"></i>
                                            <i class="em em-scream" onclick="setReaction('scream')"></i>
                                            <i class="em em-sleepy" onclick="setReaction('sleepy')"></i>
                                            <i class="em em-smirk" onclick="setReaction('smirk')"></i>
                                            <i class="em em-tired_face" onclick="setReaction('tired_face')"></i>
                                            <i class="em em-triumph" onclick="setReaction('triumph')"></i>
                                            <i class="em em-worried" onclick="setReaction('worried')"></i>
                                            <i class="em em-no_mouth" onclick="setReaction('no_mouth')"></i>
                                            <i class="em em-yum" onclick="setReaction('yum')"></i>
                                            <i class="em em-fire" onclick="setReaction('fire')"></i>
                                            <i class="em em-poop" onclick="setReaction('poop')"></i>
                                            <i class="em em-clap" onclick="setReaction('clap')"></i>
                                            <i class="em em-plus1" onclick="setReaction('plus1')"></i>
                                            <i class="em em-punch" onclick="setReaction('punch')"></i>
                                            <i class="em em-raised_hands" onclick="setReaction('raised_hands')"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Thoughts</label>
                                    {{ form.thoughts }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--  End Modal -->
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var reaction = "{{ review.reaction }}";

        function showUpdateReview() {
            $("#updateReviewModal").modal().on("shown", function () {
                setReaction(reaction);
            });
        }
    </script>
    <script src="{% static 'general/js/movie-page.js' %}"></script>
{% endblock %}