{% extends 'base.html' %}

{% load static %}

{% block header %}
    <title>{{ request.user }}</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    {% load static %}
    <link href="{% static 'general/css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% if response %}
    <h1>{{response}}</h1>
    {% endif %}

    <div class="col-md-12">
        {# Search #}
        <div class="col-md-5">
            <div class="form-group label-floating">
                <label class="control-label">Filter by name</label>
                <input id="filter-users" class="form-control">
            </div>
        </div>

        {# List of users #}
        <div class="card">
            <div class="card-header" data-background-color="blue">
                    <h4 class="title card-header-title">All Users</h4>
            </div>
            <div class="card-content">
                <table class="table">
                    <thead class="text-info">
                        <th>Username</th>
                        <th>Name</th>
                        <th class="text-center">Followers</th>
                        <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                        {% for u, count, already_following in users %}
                            <tr id="{{ u.first_name|lower }} {{ u.last_name|lower }}">
                                <td>
                                    <h4>{{ u.username }}</h4>
                                </td>
                                <td>
                                    <h4>{{ u.first_name }} {{ u.last_name }}</h4>
                                </td>
                                <td>
                                    <h4 class="text-center">{{ count }}</h4>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Visit profile" class="btn btn-info btn-simple" onclick="window.location.href='/profile/{{ u.username }}/'">
                                        <i class="material-icons">launch</i>
                                    </button>
                                    {% if already_following %}
                                        <button type="button" rel="tooltip" title="Unfollow" class="btn btn-danger btn-simple">
                                            <i class="material-icons">clear</i>
                                        </button>
                                    {% else %}
                                        <button type="button" rel="tooltip" title="Follow" class="btn btn-primary btn-simple">
                                            <i class="material-icons">add_circle_outline</i>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#filter-users").keyup(function() {
                var query = $("#filter-users").val().toLowerCase();
                if (query.length > 0) {
                    $('tbody tr').not('[id*="' + query + '"]').hide();
                    $('tbody tr[id*="' + query + '"]').show();
                }
                else {
                    $('tbody tr').show()
                }
            })
        })
    </script>
{% endblock %}